# Global config to all images
VERSION_TAG=0.0.1

# Php
PHP_NAME=php-alpine-production
PHP_CONTEXT=./production
PHP_VERSION=8.0-fpm-alpine
PHP_PORT=9000
PHP_CONFIG_SOURCE=./php.ini
PHP_CONFIG_TARGET=/usr/local/etc/php/php.ini
PHP_FPM_CONFIG_SOURCE=./www.conf
PHP_FPM_CONFIG_TARGET=/usr/local/etc/php-fpm.d/www.conf
PHP_ENTRYPOINT_SOURCE=./entrypoint.sh
PHP_ENTRYPOINT_TARGET=/entrypoint.sh
PHP_HEALTHCHECK_SOURCE=./healthcheck.sh
PHP_HEALTHCHECK_TARGET=/healthcheck.sh
PHP_CODE_TARGET=/code