# Global config to all images
VERSION_TAG=0.0.1

# User prermission
UID=1000
GID=1000
UNAME=rabbit
GNAME=rabbit

# RabbitMq
RABBITMQ_NAME=rabbitmq-alpine-development
RABBITMQ_CONTEXT=./development
RABBITMQ_VERSION=management-alpine
RABBITMQ_PORT=5672
RABBITMQ_PANEL_PORT=15672

RABBITMQ_CONFIG_SOURCE=./rabbitmq.config
RABBITMQ_CONFIG_TARGET=/etc/rabbitmq/rabbitmq.config

RABBITMQ_HEALTHCHECK_SOURCE=./healthcheck.sh
RABBITMQ_HEALTHCHECK_TARGET=/usr/local/bin/docker-healthcheck
